DATABASE_URL=
ADMIN_ACCESS_KEY=
ADMIN_SESSION_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PHOTOS_TABLE=photos
SUPABASE_STORAGE_BUCKET=photos
NEXT_PUBLIC_CARTO_API_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
